<!DOCTYPE html>
<html lang="en">
<head data-lang="en">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154203347-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154203347-1');
    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="google-site-verification" content="ZqM3zrsC64VEtUs0KWbDozNrDilGqCyle4fYF6umo24" />

    <!-- Google -->

<title></title>
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Facebook -->
<meta property="og:url"           content="https://_" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="" />
<meta property="og:description"   content="" />
<meta property="og:image"         content="" />

<!-- Twitter -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nytimes">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">


    <link rel="apple-touch-icon" sizes="57x57" href="/dist/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/dist/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/dist/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/dist/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/dist/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/dist/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/dist/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/dist/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/dist/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/dist/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/dist/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/dist/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/dist/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/dist/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    
    
        
            <link rel="stylesheet" type="text/css" href="/dist/light_gallery/lightgallery.css?v=1575900576">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/bootstrap-4.3.1/css/bootstrap.min.css?v=1575900567">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/animate/animate.min.css?v=1575900567">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/fonts/linear-fonts.css?v=1576144513">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/font-awesome-4.7.0/css/font-awesome.min.css?v=1576144513">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/owl-carousel2-2.3.4/dist/assets/owl.carousel.min.css?v=1575900576">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/owl-carousel2-2.3.4/dist/assets/owl.theme.default.min.css?v=1575900576">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/css/owl_full_cover.css?v=1576242877">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/css/layout2.css?v=1576144513">

        
    
        
            <link rel="stylesheet" type="text/css" href="/dist/css/main.css?v=1588252207">

        
    

    <style>
        .no-js #loader { display: none;  }
        .js #loader { display: block; position: absolute; left: 100px; top: 0; }
        .se-pre-con {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            z-index: 9999;
            background: url(/dist/img/loader_circle.gif) center no-repeat #fff;

        }
    </style>

    
</head>
<!-- Back to top button -->
<button onclick="topFunction()" id="myBtn" style="display: block;"></button>

<body id="top" class="news_list">


<div class="se-pre-con"></div>
<!-- Main Container -->
    <div class="main-container">
        <header id="header" class="fixed">
            <!--     logo-->
            <div id="logo_black" class="logo px-5 bg-smoke hidden" >
                <a href="/">
                    <img class="img-fluid" src="/dist/img/logo.png" alt="Logo Skyros Municipality" >
                </a>
            </div>
            <!--     top navigation-->
            <!-- main navigation -->
<nav id="mainNav" class="navbar navbar-expand-xl navbar-dark mx-auto">
    <button class="navbar-toggler rounded p-2" type="button" data-toggle="" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<!--        <span class="navbar-toggler-icon"></span>-->
        <img src="/dist/img/menu.svg" alt="menu">
    </button>
    <a href="/"><img class="logo-btn" src="/dist/img/logo-skirou-SVG.svg" alt="Destination Skiros"></a>
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <div id="logo_white" class="logo px-5">
            <a href="/en/">
                <img class="" src="/dist/img/logo-skirou-SVG.svg" alt="Destination Skiros">
            </a>
        </div>

        <ul class="navbar-nav mx-auto">
            ​
                            ​
                <li class="nav-item  ">
                    <a class="nav-link "
                       href="/en/"  >
                        Home                    </a>
                                    </li>
                            ​
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="/en/domi-kai-ypiresies">Municipal services</a>
                                                            <a class="dropdown-item" href="/en/oikonomika-stoicheia">Οικονομικά Στοιχεία</a>
                                                            <a class="dropdown-item" href="/en/nomika-prosopa">Νομικά Πρόσωπα</a>
                                                            <a class="dropdown-item" href="/en/news/apofaseis">Αποφάσεις</a>
                                                            <a class="dropdown-item" href="/en/limeniko-tameio">Λιμενικό Ταμείο</a>
                                                            <a class="dropdown-item" href="/en/diagonismoi">Διαγωνισμοί</a>
                                                            <a class="dropdown-item" href="/en/adelfopoiisi-dimon">Αδελφοποίηση Δήμων</a>
                                                            <a class="dropdown-item" href="/en/periballon">Περιβάλλον</a>
                                                    </div>
                                </li>
                            ​
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="/en/istoria">Ιστορία</a>
                                                            <a class="dropdown-item" href="/en/archaiologikoi-choroi-mouseia-axiotheata">Αρχαιολογικοί Χώροι , Μουσεία , Αξιοθέατα</a>
                                                            <a class="dropdown-item" href="/en/to-skuriano-alogaki">Tο Σκυριανό αλογάκι </a>
                                                            <a class="dropdown-item" href="/en/skuriani-kouzina">Σκυριανή κουζίνα</a>
                                                            <a class="dropdown-item" href="/en/monastiri-agiou-georgiou">Μοναστήρι Αγίου Γεωργίου</a>
                                                    </div>
                                </li>
                            ​
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="/en/politismiki-klironomia">Πολιτισμική κληρονομιά</a>
                                                            <a class="dropdown-item" href="/en/ithi-kai-ethima-tis-skurou">Ήθη και έθιμα της Σκύρου</a>
                                                            <a class="dropdown-item" href="/en/ekdiloseis-paniguria">Εκδηλώσεις – Πανηγύρια</a>
                                                    </div>
                                </li>
                            ​
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="/en/kalos-ilthate-sti-skuro">Καλώς ήλθατε στη Σκύρο</a>
                                                            <a class="dropdown-item" href="/en/pos-mporeite-na-erthete-sti-skuro">Πώς μπορείτε να έρθετε στη Σκύρο</a>
                                                            <a class="dropdown-item" href="/en/enallaktikes-drastiriotites">Εναλλακτικές δραστηριότητες</a>
                                                            <a class="dropdown-item" href="/en/paralies-gia-olous-tous-kairous">Παραλίες για όλους τους καιρούς</a>
                                                    </div>
                                </li>
                            ​
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="/en/news/afieromata">Αφιερώματα</a>
                                                            <a class="dropdown-item" href="/en/news/deltia-tupou">Δελτία Τύπου</a>
                                                            <a class="dropdown-item" href="/en/news/anakoinoseis">Ανακοινώσεις</a>
                                                    </div>
                                </li>
                            ​
                <li class="nav-item  ">
                    <a class="nav-link "
                       href="/gallery"  >
                                            </a>
                                    </li>
                            ​
                <li class="nav-item  ">
                    <a class="nav-link "
                       href="/en/contact"  >
                        Contact                    </a>
                                    </li>
            
        </ul>
    </div>
    <div class="languages">
        <a href="/news/afieromata"><img src="/dist/img/flags/greek-flag.svg" alt="greek-flag"></a>
        <a href="/en/news/afieromata"><img src="/dist/img/flags/Flag_of_the_United_Kingdom.svg" alt="eng-flag"></a>
    </div>
</nav>        </header>

        
        
<!-- top section picture -->
<section>
    <div class="">
                    <img src="https://mediaskyros.dev.ibserver.gr/images/0/0/header/inner1920x500-1.jpg" alt="banner" class="img-fluid maxwidth height300">
            </div>
    <div class="container border_dotted">
        <p class="text-blue mt-3"><a class="text-blue" href="/">Αρχική</a> >
                        </p>
    </div>
</section><div class="container">
    <!-- main body -->
    <main id="main">

        <!--list section   -->
        <section class="mb-5">

                            <h1 class="text-center text-blue py-5"></h1>
                <!-- article loop -->
                                    <div class="row py-2">
                        <div class="col-md-3 col-sm-6">
                                                        <a href="/en/neo/14/afieroma-sta-archaia-3">
                                                                                            <img src="https://mediaskyros.dev.ibserver.gr/images/600/0/images/_mg_0818.jpg" alt="picture" class="img-fluid">
                                                            </a>
                        </div>

                        <div class="col-md-9 col-sm-6">
                                                        <a href="/en/neo/14/afieroma-sta-archaia-3"><h3 class="text-blue">Αφιέρωμα στα Αρχαία 3</h3></a>
                                                        <p class="text-blue"><em>03/12/2019</em></p>
                            <p class="text-blue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                                    <div class="row py-2">
                        <div class="col-md-3 col-sm-6">
                                                        <a href="/en/neo/13/afieroma-sta-archaia-2">
                                                                                            <img src="https://mediaskyros.dev.ibserver.gr/images/600/0/images/_mg_0818.jpg" alt="picture" class="img-fluid">
                                                            </a>
                        </div>

                        <div class="col-md-9 col-sm-6">
                                                        <a href="/en/neo/13/afieroma-sta-archaia-2"><h3 class="text-blue">Αφιέρωμα στα Αρχαία 2</h3></a>
                                                        <p class="text-blue"><em>03/12/2019</em></p>
                            <p class="text-blue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </div>
                                    <div class="row py-2">
                        <div class="col-md-3 col-sm-6">
                                                        <a href="/en/neo/12/afieroma-sta-archaia">
                                                                                            <img src="https://mediaskyros.dev.ibserver.gr/images/600/0/images/_mg_0818.jpg" alt="picture" class="img-fluid">
                                                            </a>
                        </div>

                        <div class="col-md-9 col-sm-6">
                                                        <a href="/en/neo/12/afieroma-sta-archaia"><h3 class="text-blue">Αφιέρωμα στα Αρχαία</h3></a>
                                                        <p class="text-blue"><em>03/12/2019</em></p>
                            <p class="text-blue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. C</p>
                        </div>
                    </div>
                            

        </section>
    </main>
</div>
<!-- map spacer -->




<div class="py-5">
<!--    <img src="/dist/img/map300.png" alt="skyros map" class="img-flex maxwidth">-->

    <div id="map" style="width: 100%; height: 400px;"></div>
</div>


<script src="/dist/jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgkmHcgznum0KBa9xxMUfEsn7p7tmnYS0"></script>
<script type="text/javascript" src="/dist/js/Tilotiti-jQuery-Google-Map/jquery.googlemap.js"></script>

<script type="text/javascript">
    $(function() {
        $("#map").googleMap({
            zoom: 11, // Initial zoom level (optional)
            coords: [38.9067554, 24.5657835], // GPS coords
            type: "ROADMAP", // Map type (optional)
            name: 'Skyros'
        });
        $("#map").addMarker({
            zoom: 11, // Initial zoom level (optional)
            coords: [38.9067554, 24.5657835], // GPS coords
            title: 'Σκύρος', // Title
            text:  'Η χώρα της Σκύρου' // HTML content
        });
    })
</script>

<!--    </body>-->
<!--</html>-->
        <!-- main footer -->

<footer id="footer">
    <div class="bg-smoke">
        <h2 class="dotted text-center text-blue mb-5 pb-2"></h2>
        <div class="row justify-content-center m-0">
            <div class="col-md-3 text-center">
                <ul class="footer-list inline-flex">
                                            <li><a target="_blank" href="https://www.youtube.com/channel/UCAb_E59CGNKfGreClCFWgig"><img src="/dist/img/asset1.png" alt="icon" class="icon"></a></li>
                                                                <li><a target="_blank" href="https://www.facebook.com/%CE%94%CE%AE%CE%BC%CE%BF%CF%82-%CE%A3%CE%BA%CF%8D%CF%81%CE%BF%CF%85-101514867972036/"><img src="/dist/img/asset2.png" alt="icon" class="icon"></a></li>
                                                                <li><a target="_blank" href="#"><img src="/dist/img/asset3.png" alt="icon" class="icon"></a></li>
                                    </ul>
            </div>
            <div class="col-md-2">
                <ul class="footer-list ">
                                            <li><a href="/en/archaiologikoi-choroi-mouseia-axiotheata">Αρχαιολογικοί Χώροι , Μουσεία , Αξιοθέατα</a></li>
                                            <li><a href="/en/monastiri-agiou-georgiou">Μοναστήρι Αγίου Γεωργίου</a></li>
                                            <li><a href="/en/ekdiloseis-paniguria">Εκδηλώσεις – Πανηγύρια</a></li>
                                            <li><a href="/en/paralies-gia-olous-tous-kairous">Παραλίες για όλους τους καιρούς</a></li>
                                            <li><a href="/en/enallaktikes-drastiriotites">Εναλλακτικές δραστηριότητες</a></li>
                                            <li><a href="/en/ithi-kai-ethima-tis-skurou">Ήθη και έθιμα της Σκύρου</a></li>
                                    </ul>
            </div>
            <div class="col-md-2">
                <ul class="footer-list">
                                            <li><a href="/en/domi-kai-ypiresies">Municipal services</a></li>
                                            <li><a href="/en/news/anakoinoseis">Ανακοινώσεις</a></li>
                                            <li><a href="/en/news/deltia-tupou">Δελτία Τύπου</a></li>
                                            <li><a href="/en/news/afieromata">Αφιερώματα</a></li>
                                            <li><a href="/en/news/apofaseis">Αποφάσεις</a></li>
                                            <li><a href="/en/contact">Contact</a></li>
                                    </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer-list">
                                            <li><a href="/en/contact"><h6 class="text-blue mb-3">CONTACT</h6></a></li>
                                        <li><a href="tel:2222350-εσωτ.">: 2222350-εσωτ.</a></li>
                    <li><a href="mailto:dimos.skyros@gmail.com">Email: dimos.skyros@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="bg-blue mt-3 py-3">
            <p class="text-center text-smoke"></p>
            <a href="https://ibhellas.gr" target="_blank"><img src="/dist/images/iblogo.svg" width="100px" alt="logo" style="display: block;margin-left: auto;margin-right: auto;"></a>
        </div>
    </div>
</footer>    </div>


    <div id="mypopuplayer">   </div>
    <div id="mypopupvideo"  >

        <div id="mypopupclose" >✖</div>

        <iframe style="display: block" width="500" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

<!-- Javascripts -->
    <script>

    function loadModule(file, module) {

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = file;
        $("body").append(script);
        window[module].init();

    }
</script>


    
        
            
                <script type='text/javascript' src='/dist/jquery/jquery-3.4.1.js?v=1575900576'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/popper/popper.min.js?v=1575900576'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/bootstrap-4.3.1/js/bootstrap.min.js?v=1575900567'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/moderinizer/modernizr.js?v=1576144514'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/light_gallery/lightgallery-all.min.js?v=1575900576'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/wow/wow.min.js?v=1575900576'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/easing-1.3/jquery.easing.1.3.js?v=1575900568'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/owl-carousel2-2.3.4/dist/owl.carousel.min.js?v=1575900576'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/js/owl_full_cover.js?v=1576144514'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/js/4-cards.js?v=1576144514'></script>

            
        
    
        
            
                <script type='text/javascript' src='/dist/js/main.js?v=1591962926'></script>

            
        
    
    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-message="<div></div>"
            data-cookie="skiros-accept-cookie"
            data-divlinkbg="#000"
            data-divlink="#fff"
            data-link="#00abbd"
            data-linkmsg=""
            data-moreinfo="/cookies"
            async defer>
    </script>


</body>
</html>
